.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  min-height: 100vh;
}

.pageContainer h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 30px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px 50px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-bottom: 50px;
}

.inputWrapper {
  position: relative;
  margin-bottom: 45px;
}

.error {
  color: red;
  font-size: 14px;
  position: absolute;
  bottom: -1.7em;
  left: 0;
  height: 1.2em;
}

.formContainer label {
  margin-bottom: 25px;
}

.formContainer input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.formContainer input:focus {
  border-color: #8b633c;
  outline: none;
}

.formContainer button {
  padding: 12px;
  background-color: #8f745a;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.formContainer button:hover {
  background-color: #cb7626;
}
