.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  min-height: 100vh;
}

.listRecipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 60px;
}

@media (max-width: 1050px) {
  .listRecipes {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .listRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 20px 20px;
  }
}

h2 {
  text-align: center;
}

.containerError {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.notFound {
  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .notFound {
    font-size: 14px;
  }
}

.link {
  padding: 15px 26px;
  border-radius: 25px;
  font-size: 22px;
  background-color: rgb(245, 220, 187);
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: background 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.link:hover {
  background-color: rgb(200, 146, 117);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 480px) {
  .link {
    padding: 12px 14px;
    font-size: 15px;
  }
}
