.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 50px 0;
    min-height: 100vh;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 40px;
  gap: 8px;
}

@media (max-width: 768px) {
  .searchBar {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .searchBar {
    max-width: 400px;
    gap: 5px;
    padding: 0 10px;
  }
}

.searchBar input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.searchBar input:focus {
  box-shadow: 0 0 3px rgba(87, 36, 22, 0.5);
  border-color: #6c1900;
}

.searchBar button {
  border: none;
  padding: 10px 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  background-color: #eee;
  color: #333;
}

.searchBar button:hover {
  background-color: #ddd;
}

@media (max-width: 480px) {
  .searchBar button {
    padding: 7px 10px;
  }
}

.containerFilter {
  display: flex;
  gap: 10px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .containerFilter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.filterBtn {
  padding: 6px 14px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.filterBtn:hover {
  background-color: #f5f5f5;
}

.active {
  background-color: #faedc2;
  color: black;
  border: none;
}

.active:hover {
  background-color: #faedc2;
}

.listRecipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 60px;
}

@media (max-width: 1050px) {
  .listRecipes {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .listRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 20px 20px;
  }
}

.notFound {
  text-align: center;
  font-size: 20px;
  margin-top: 150px;
}
