.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background: linear-gradient(90deg, #673a24, #e18f51cb);
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 30px;
}

.links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #4a2f1b;
}

.containerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.bntLogout {
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: rgba(27, 27, 24, 0.1);
  color: white;
  transition: color 0.2s ease, background 0.2s ease;
}

.bntLogout:hover {
  background: rgba(13, 8, 8, 0.2);
}
