.detail {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.detail h3 {
  margin: 20px 0 8px;
}

.notFound {
  text-align: center;
  margin-top: 50px;
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}

.Сніданок {
  background-color: #f39c12;
}

.Обід {
  background-color: #27ae60;
}

.Вечеря {
  background-color: #2980b9;
}

.Десерт {
  background-color: #9b59b6;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.editBtn {
  text-decoration: none;
  background-color: #fff;
  color: #103711;
  border: 2px solid #75a677;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.editBtn:hover {
  background-color: #75a677;
  color: #fff;
}

.deleteBtn {
  background-color: #fff;
  color: #581010;
  border: 2px solid #ad3333;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.deleteBtn:hover {
  background-color: #ad3333;
  color: #fff;
}
